<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wedding Registration</title>
</head>
<body>
    <form action="/submit-form" method="POST">
        <label>First Name: </label>
        <input type="text" name="firstname">

        <label>Last Name: </label>
        <input type="text" name="lastname">

        <button type="submit" value="submit">Submit</button>

    </form>
    
</body>
</html>